body { 
    color: white;
    background-color: black;
   }
   p {
    align: right;
   }
   h1 {
    align: right;
    color: red;
    font-family: Arial;
   }
   h2 {
    align: right;
    color: red;
    font-family: Arial;
   }
    em {
    color: green;
   }