body { 
    color: black;
    background-image: url("../images/pattern-bale-arrows.png");
   }
   p {
    align: right;
   }
   h1 {
    align: right;
    color: red;
    font-family: Arial;
   }
   h2 {
    align: right;
    color: red;
    font-family: Arial;
   }
    em {
    color: green;
   }